* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    background-color: black;
    color: white;
    text-align: center;
   
    
}

.top {
    display: block;
    font-size: 50px;
    padding: 30px 30px;
    
}

.header {
    display: block;
    font-size: 50px;
    color: white;
   
    padding: 30px 30px;
}


a {
    display: block;
  
    color: aquamarine;
    font-size: 16px;
    padding: 30px 30px;
}

.container {
    height: auto;
    width: 100%;
}

footer {
    float: right;
  
}

.phone {
    padding-top: 20px;
 
}

.travel-text {
    display: block;
    font-weight: 300;
    font-size: 42px;
   
  
  
}

p {
 
    display: block;
    padding: 20px 20px;
}